version: '3.8'

services:
  chitieu-app:
    container_name: chitieu-app
    build:
      context: .
      dockerfile: Dockerfile
      args:
        # Bạn điền trực tiếp Site Key vào đây nếu không dùng .env
        DATABASE_URL: "mysql://root:%2B_4nw%3Dc7vAHh%5EgDjf5x%3F@global-mariadb:3306/chitieu_db"
        NEXT_PUBLIC_TURNSTILE_SITE_KEY: "Dien_Site_Key_Vao_Day"
    restart: always
    environment:
      # Database Connection
      DATABASE_URL: "mysql://root:%2B_4nw%3Dc7vAHh%5EgDjf5x%3F@global-mariadb:3306/chitieu_db"

      # App Secrets
      JWT_SECRET: "kydieu-secret-key-change-me-in-production-123"
      # Điền Secret Key vào đây
      TURNSTILE_SECRET_KEY: "Dien_Secret_Key_Vao_Day"

      # Next.js Config
      NODE_ENV: "production"
      HOSTNAME: "0.0.0.0"

    networks:
      - web_network
    ports:
      - "3000:3000"

networks:
  web_network:
    external: true
